<div class="card">
    <button data-cy='activity-item-0' routerLink="/activity/{{ id }}" routerLinkActive="active" class="card-body btn-detail d-flex align-items-start justify-content-start" (click)="cardClick()">
        <h5 data-cy="activity-item-title" class="card-title">
            {{ showTitle }}
        </h5>
    </button>
    <div class="card-footer d-flex flex-row justify-content-between">
        <p data-cy="activity-item-date" class="card-text">
            {{ showDate | date:"dd / MM / yyyy" }}
        </p>
        <button data-cy="activity-item-delete-button" (click)="openRemoveModal(content)" class="btn-remove" >
            <i class="bi bi-trash3"></i>
        </button>
    </div>
</div>

<ng-template #content let-modal>
    <div data-cy="modal-delete" class="modal-content">
        <div class="modal-body d-flex flex-column align-items-center justify-content-center">
            <svg data-cy="modal-delete-icon" xmlns="http://www.w3.org/2000/svg" width="84" height="84" style="fill: #ED4C5C" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
            </svg>
            <p data-cy="modal-delete-title">
                Apakah anda yakin menghapus activity
                <b>{{ title }}</b>?
            </p>
        </div>
        <button data-cy="modal-delete-cancel-button" type="button" class="btn btn-batal" (click)="modal.dismiss()">Batal</button>
        <button data-cy="modal-delete-confirm-button" (click)="removeClick()" type="button" class="btn btn-hapus" data-bs-dismiss="modal">Hapus</button>
        
        <!-- <div class="modal-footer d-flex align-items-center justify-content-center">
        </div> -->
    </div>
</ng-template>