.card {
    border: 0;
    width: 100%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    & .btn-remove {
        border: 0;
        background-color: transparent;
        color: #888888;
    }

    & .activity-label {
        margin-left: 16px;
        font-weight: 500;
        font-size: 18px;
        // font-family: poppins;    
    }

}

.btn {
    &-hapus {
        margin-left: 18px;
        width: 150px;
        height: 55px;
        background-color: #ED4C5C;
        border: 0;
        border-radius: 45px;
        font-weight: 600;
        font-size: 18px;
        color: white;
    }

    &-batal {
        width: 150px;
        height: 55px;
        background-color: #F4F4F4;
        border: 0;
        border-radius: 45px;
        font-weight: 600;
        font-size: 18px;
        color: #4A4A4A;
    }
}

.modal-body {
    padding: 40px 62px 40px 62px;

    & p {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
}

.modal-footer {
    border: 0;
    margin-bottom: 40px;
}